# Simulated Annealing for Feature Selection
## 02 - Baseline Random Forest Model
- Adapted from: https://towardsdatascience.com/my-random-forest-classifier-cheat-sheet-in-python-fedb84f8cf4f
___

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import cross_val_score, KFold

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Define path
PATH = '../data/'

# Set seed
SEED = 42

In [3]:
X_train = pd.read_csv(PATH + 'processed/X_train.csv')
y_train = pd.read_csv(PATH + 'processed/y_train.csv')

In [4]:
X_train.shape

(891, 9)

In [5]:
X_train.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  FamilySize  Title
0       3    0  22.0      1      0   7.2500       2.0           2      2
1       1    1  38.0      1      0  71.2833       0.0           2      3
2       3    1  26.0      0      0   7.9250       2.0           1      1
3       1    1  35.0      1      0  53.1000       2.0           2      3
4       3    0  35.0      0      0   8.0500       2.0           1      2

In [6]:
rf_classifier = RandomForestClassifier(random_state=SEED)

In [7]:
kf = KFold(shuffle=True, n_splits=3, random_state=SEED)

In [8]:
cv_roc_auc = round(cross_val_score(rf_classifier, X_train, y_train, 
                             cv=kf, scoring="roc_auc", n_jobs=-1).mean(), 3)

In [9]:
cv_roc_auc

0.86